<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <%= link_to t(:link_to_cards_notification), root_url %>
</p>
</body>
</html>
