<%= alert_message = (flash[:alert] || flash[:notice]) %>
<div class="col-sm-12">
  <% case alert_message
     when "flash[:notice]" %><%= render partial: "shared/flash_call", locals: { alert_message: "alert-info" } %>
  <% when "flash[:alert]" %><%= render partial: "shared/flash_call", locals: { alert_message: "alert-warning" } %>
  <% end %>
</div>
