<div class="alert alert-#{alert_class} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <p id="alert"><%= alert_message %></p>
</div>
