<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= check_current_user("title") %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <%= check_current_user("navbar_menu") %>
          </ul>
          <p class="navbar-text navbar-right">
            <%= check_current_user("user_panel") %>
          </p>
        </div>
      </div>
    </nav>
  </div>
</div>
