<li><%= link_to t(:all_decks_label), blocks_path %></li>
<li><%= link_to t(:add_deck_label), new_block_path %></li>
<li><%= link_to t(:all_cards_label), cards_path %></li>
<li><%= link_to t(:add_card_label), new_card_path %></li>
