<li><%= link_to t(:all_blocks_label), blocks_path %></li>
<li><%= link_to t(:add_block_label), new_block_path %></li>
<li><%= link_to t(:all_cards_label), cards_path %></li>
<li><%= link_to t(:add_card_label), new_card_path %></li>
